<app-header></app-header>
<!-- LOADING -->
<div *ngIf="loading" class="loading-state">
  Carregando produtos...
</div>

<!-- EMPTY STATE -->
<div *ngIf="!loading && produtosFiltrados.length === 0" class="empty-state">
  <h2>Nenhum produto encontrado</h2>
  <p>Tente ajustar os filtros.</p>
</div>

<!-- GRID -->
<main class="products-container" *ngIf="!loading && produtosFiltrados.length > 0">
  <div class="products-grid">

    <a
      *ngFor="let produto of produtosFiltrados"
      [routerLink]="['/produto', produto.id]"
      class="product-card"
    >

      <div class="product-image-wrapper">
        <img
          [src]="produto.imagem"
          [alt]="produto.descricao"
          class="product-image"
        >
      </div>

      <div class="product-info">
        <h3 class="product-name">
          {{ produto.descricao }}
        </h3>

        <p class="product-price">
          R$ {{ produto.preco | number:'1.2-2' }}
        </p>
      </div>

    </a>

  </div>
</main>

<app-footer></app-footer>
