<div class="cadastro-container">

  <h2>Cadastro de Usuário</h2>

  <form>

    <div class="campo">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        [(ngModel)]="usuario.nome">
    </div>

    <div class="campo">
      <label for="cpf">CPF</label>
      <input
        type="text"
        id="cpf"
        name="cpf"
        maxlength="11"
        required
        [(ngModel)]="usuario.cpf">
    </div>

    <div class="campo">
      <label for="telefone">Telefone</label>
     <input
        type="tel"
        id="telefone"
        name="telefone"
        maxlength="11"
        required
        [(ngModel)]="usuario.telefone">
    </div>

    <div class="campo">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        [(ngModel)]="usuario.email">
    </div>

    <div class="campo">
      <label for="chavePix">Chave Pix</label>
      <input
        type="text"
        id="chavePix"
        name="chavePix"
        [(ngModel)]="usuario.chavePix">
    </div>
    <div class="campo">
  <label for="senha">Senha</label>
  <input
    type="password"
    id="senha"
    name="senha"
    minlength="8"
    required
    [(ngModel)]="usuario.senha">
</div>

  <div class="campo">
    <label for="confirmarSenha">Confirmar Senha</label>
    <input
      type="password"
      id="confirmarSenha"
      name="confirmarSenha"
      required
      [(ngModel)]="confirmarSenha">
  </div>

    <button
      type="button"
      (click)="cadastrar()">
      Cadastrar
    </button>

  </form>

</div>