:root {
    --bg-color: #E6E9F1;
    --border-color: #d2d7e2;
    --accent-blue: #3d5a80;
    --text-muted: #67748e;
    --text-dark: #1e2432;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}
